{
	"Description": "{{ sansible_aws_dynamo_db_table_name | replace("_", " ") | replace("-", " ") | title }} Dynamo DB table",
	"AWSTemplateFormatVersion": "2010-09-09",

	"Parameters": {
		"ProvisionedThroughputRead": {
			"Description": "Read items per second",
			"Type": "Number",
			"Default": "1"
		},
		"ProvisionedThroughputWrite": {
			"Description": "Write items per second",
			"Type": "Number",
			"Default": "1"
		}
	},

	"Resources": {

		"DynamoDbTable": {
			"Type": "AWS::DynamoDB::Table",
			"Properties": {
				"AttributeDefinitions": [

{% for attribute_definition in sansible_aws_dynamo_db_attribute_definitions %}

					{
						"AttributeName": "{{ attribute_definition.name }}",
						"AttributeType": "{{ attribute_definition.type }}"
					}{{ '' if loop.last else ',' }}

{% endfor %}

				],
				"KeySchema": [

{% for key_schema in sansible_aws_dynamo_db_key_schema %}

					{
						"AttributeName": "{{ key_schema.name }}",
						"KeyType": "{{ key_schema.key_type }}"
					}{{ '' if loop.last else ',' }}

{% endfor %}

				],

{% if sansible_aws_dynamo_db_time_to_live_specification_attribute_enabled %}

				"TimeToLiveSpecification": {
					"AttributeName": "{{ sansible_aws_dynamo_db_time_to_live_specification_attribute }}",
					"Enabled": "true"
				},

{% endif %}

{% if sansible_aws_dynamo_db_key_schema %}

				"TableName": "{{ sansible_aws_dynamo_db_table_name }}",

{% endif %}

				"ProvisionedThroughput": {
					"ReadCapacityUnits": { "Ref": "ProvisionedThroughputRead" },
					"WriteCapacityUnits": { "Ref": "ProvisionedThroughputWrite" }
				}

			}

		}

	},

	"Outputs": {

		"DynamoDbTableArn": {
			"Description": "Dynamo DB Table ARN",
			"Value": { "Fn::GetAtt": ["DynamoDbTable", "Arn"] }
		},

		"DynamoDbTableId": {
			"Description": "Dynamo DB Table Instance ID",
			"Value": { "Ref": "DynamoDbTable" }
		}

	}
}
